<app-navbar></app-navbar>
<div main="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <!-- Your footer content goes here -->
    <p>SmileyCare 2023</p>

    <div class="footer-clean">
      <footer>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-sm-4 col-md-3 item">
                      <h3>Services</h3>
                      <ul>
                          <li><a href="#">Patient Record</a></li>
                          <li><a href="#">Inventory record</a></li>
                          <li><a href="#">FAQ</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-4 col-md-3 item">
                      <h3>About</h3>
                      <ul>
                          <li><a href="#">Company</a></li>
                          <li><a href="#">Team</a></li>
                          <li><a href="#">Legacy</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-4 col-md-3 item">
                      <h3>Careers</h3>
                      <ul>
                          <li><a href="#">Job openings</a></li>
                          <li><a href="#">Employee success</a></li>
                          <li><a href="#">Benefits</a></li>
                      </ul>
                  </div>
                  <div class="col-lg-3 item social">
                    <a href="#">&#xf09a;</a>
                    <a href="#">&#xf099;</a>
                    <a href="#">	&#xf16d;</a>
                      <p class="copyright">SmileyCAre © 2023</p>
                  </div>
              </div>
          </div>
      </footer>
    